
.navbarText {
    color: white;
    font-size: 14px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word;
    opacity: 0.80;
}

.navbarDiv{
    width: 175px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    display: inline-flex;
}
.imgDiv{
    width: 20px;
    height: 20px; 
    position: relative;
    opacity: 0.80;
}

div.navbarDiv:hover{
    background: rgba(255, 255, 255, 0.10);
    cursor: pointer;
}

div.buttonIcon:hover{
    cursor: pointer;
}