table, table th, table td{
    width: 1120px;
    
    border-collapse: collapse;
    font-family: Inter;
  }
table td{
  border-bottom: 1px solid;
  border-color: lightgray;
  text-align: right;
}
table th{
  background-color: #F2F2F2;
  text-align: right;
}
table th,table td{
  padding: 8px;
  font-size: 12px;
}




  
